# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS/Visual Studio
.vs/
*.user
*.obj
*.pdb
*.idb
*.tlog
ipch/
Debug/
Release/
x64/

# 빌드 산출물
*.exe
*.dll
*.lib
*.exp
*.log

# 이미지/샘플
*.jpg
*.png
samples/

# IDE
.idea/
.vscode/

